.container-pokemons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;

    .pokemon {
        margin: 5px;
        box-shadow: 2px 3px 8px 0px #878787;

        .pokemon-img {
            text-align: center;
        }

        .pokemon-info {
            text-align: center;
            padding: 5px;

            h1 {
                text-transform: uppercase;
            }

            .pokemon-types {
                padding: 10px;

                li {
                    background-color: lightgrey;
                    border-radius: 25px;
                }
            }
        }
    }
}